<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
      <div class="container">
         <a class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </a>

         <a class="brand">MyVest Dashboard</a>
   </div>
</div>

<div id="widgetContainer">
   <div class="widget" id="firstWidget" ng-include src="firstWidget"></div>

   <div class="widget" id="secondWidget" ng-include src="secondWidget"></div>
</div>
