<h1>JIRA (widget #3)</h1>
<div ng-controller="JiraWidgetController">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Key</th>
            <th>Summary</th>
            <th>Assignee</th>
            <th>Reporter</th>
            <th>Priority</th>
        </tr>
        </thead>
        <tr ng-repeat="issue in issues">
            <td>{{issue.key}}</td>
            <td>{{issue.fields.summary}}</td>
            <td>{{issue.fields.assignee.displayName}}</td>
            <td>{{issue.fields.reporter.displayName}}</td>
            <td>{{issue.fields.priority.name}}</td>
        </tr>
    </table>
</div>